<!DOCTYPE html>
<html>
	<head>
	  <title>Omrails</title>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<%= render 'layouts/header' %>

		
		<div class="container">
    		<%= yield %>
    		<%= render 'layouts/footer' %>
		</div>


		
	</body>
</html>
